<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VIVAIA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb637613247581555</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vivaia</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.91125413472-92tckqg7bc8jdkm32pdprfvkoh2l7mua</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.91125413472-92tckqg7bc8jdkm32pdprfvkoh2l7mua</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Adorawe.production</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sae3229b32</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>saeec02316</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snapchat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rangersapplog.7ab87006eaa4b1a0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>637613247581555</string>
	<key>FacebookDisplayName</key>
	<string>VIVAIA</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>com.google.g</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>fb-messenger-share-api</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>Dezzal-app</string>
		<string>snapchat</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Adorawe Would Like to Access Your Calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Access Your Camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow contacts access to share app through your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Is it allowed to obtain your locations to help us deliver your package more accurately ?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Is it allowed to obtain your locations to help us deliver your package more accurately ?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Is it allowed to obtain your locations to help us deliver your package more accurately ?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access Your Photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access Your Photos</string>
	<key>NSRemindersUsageDescription</key>
	<string></string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Tracking Usage Description</string>
	<key>SCSDKClientId</key>
	<string>57e941a1-308e-4dae-816a-6719f4589860</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Almarai-Bold.ttf</string>
		<string>Almarai-ExtraBold.ttf</string>
		<string>Almarai-Regular.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenVIV</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreenVIV</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>Portrait (bottom home button)</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>vivavia.app.link</string>
		<string>vivavia-alternate.app.link</string>
	</array>
</dict>
</plist>
