<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:adorawe-starlink.onelink.me</string>
		<string>applinks:adorawe.onelink.me</string>
		<string>applinks:adorawe.app.link</string>
		<string>applinks:adorawe-alternate.app.link</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.starlink.Adorawe</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.starlink.adorawe</string>
		<string>$(AppIdentifierPrefix)com.starlink.adorawe</string>
	</array>
</dict>
</plist>
