<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(YX_PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_TW</string>
		<string>zh_CN</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>$(YX_PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>stock.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>usmart-global</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx49915c94082ce0bf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-WHmdfiHthx6noGOJn3Dwqw2TF</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>stock.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>usmart-global</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.228013422007-pluj4skpqni0dsqbtrkd9sl07lmi3gel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb495196128508885</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>line</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>495196128508885</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>line</string>
		<string>lineauth</string>
		<string>lineauth2</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>instagram</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>weixinULAPI</string>
		<string>twitterauth</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>hasgplus4</string>
		<string>whatsapp</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbauth</string>
		<string>fbapi20130214</string>
		<string>fbapi</string>
		<string>fbshareextension</string>
		<string>fbapi20160328</string>
		<string>fbapi20150629</string>
		<string>usmart-goto</string>
		<string>telegram</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1656279290</string>
	</dict>
	<key>MOBAppKey</key>
	<string>3517f3a994ad6</string>
	<key>MOBAppSecret</key>
	<string>532a9cabfd5057c0cb519ce4244fc28d</string>
	<key>NFCReaderUsageDescription</key>
	<string>uSMART正在申請使用NFC權限，，用於開戶時獲取您的護照信息</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>myqcloud.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>windin.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>用於拍攝個人頭像、一鍵導入自選股和證件識別等功能</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>用於獲取周邊數據，以便為您更好的推薦內容</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用於獲取周邊數據，以便為您更好的推薦內容</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用於錄製開戶視頻時，獲取您的聲音</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用於存儲個人頭像、邀請好友等功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用於選取個人頭像、一鍵導入自選股和證件識別等功能</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>YXConfigurationIntent</string>
		<string>YXStockDetailIntent</string>
		<string>YXWStockListIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DINPro-Black.otf</string>
		<string>DINPro-Bold.otf</string>
		<string>DINPro-Light.otf</string>
		<string>DINPro-Medium.otf</string>
		<string>DINPro-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>12FC</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>00000000000000</string>
	</array>
</dict>
</plist>
