<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281687147192-6955rl8ruh2gi89k9rjlbjlonuaadjfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281687147192-6955rl8ruh2gi89k9rjlbjlonuaadjfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281687147192-g3be2trpnpe55v85qjc6ae9a894ccoc0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDr6Gg_ZSUQQnoqttqnaD8iTmn-4X7S26k</string>
	<key>GCM_SENDER_ID</key>
	<string>281687147192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starlinke.vivaiaIOS</string>
	<key>PROJECT_ID</key>
	<string>vivaia-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>vivaia-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281687147192:ios:23b29443974614cd91ea4d</string>
</dict>
</plist>