<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZFGeshopNativeThematicVC</key>
	<string>geshop_native</string>
	<key>ZFCollectionViewController</key>
	<string>wishlist</string>
	<key>ZFContactUsViewController</key>
	<string>webview</string>
	<key>ZFPaymentViewController</key>
	<string>webview</string>
	<key>ZFWebViewViewController</key>
	<string>webview</string>
	<key>YWLoginViewController</key>
	<string>sign_in</string>
	<key>ZFCommunityPostDetailPageItemVC</key>
	<string>community_detail_item</string>
	<key>ZFCommunityPostDetailPageVC</key>
	<string>community_detail</string>
	<key>ZFCommunityHomeVC</key>
	<string>community</string>
	<key>ZFSearchMapResultViewController</key>
	<string>search_image_result_channel</string>
	<key>ZFSearchMapPageViewController</key>
	<string>search_image_result</string>
	<key>SearchResultViewController</key>
	<string>search_keyword_result</string>
	<key>ZFSearchViewController</key>
	<string>search</string>
	<key>ZFAddressEditViewController</key>
	<string>address_edit</string>
	<key>ZFAddressViewController</key>
	<string>address_list</string>
	<key>ZFOrderDetailViewController</key>
	<string>order_detail</string>
	<key>ZFMyOrderListViewController</key>
	<string>order_list</string>
	<key>ZFOrderSuccessViewController</key>
	<string>order_success</string>
	<key>ZFAccountViewController540</key>
	<string>account</string>
	<key>ZFMyCouponViewController</key>
	<string>checkout_coupon</string>
	<key>ZFOrderInfoViewController</key>
	<string>checkout</string>
	<key>ZFCartViewController</key>
	<string>cart</string>
	<key>ZFGoodsShowsDetailViewController</key>
	<string>goods_detail_show</string>
	<key>ZFGoodsDetailViewController</key>
	<string>goods_detail</string>
	<key>ZFHomeCMSViewController</key>
	<string>home_menu</string>
	<key>ZFHomePageViewController</key>
	<string>home</string>
	<key>CategoryVirtualViewController</key>
	<string>category_virtual_list</string>
	<key>CategoryListPageViewController</key>
	<string>category_list</string>
	<key>ZFCategoryParentViewController</key>
	<string>category</string>
	<key>ZFCommunityPostCategoryViewController</key>
	<string>community_post_category</string>
	<key>ZFCommunityPostCategoryItemsViewController</key>
	<string>community_post_category_list</string>
</dict>
</plist>
