<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>spreadTabe</key>
		<array>
			<dict>
				<key>stc</key>
				<integer>1</integer>
				<key>data</key>
				<array>
					<dict>
						<key>from</key>
						<integer>10</integer>
						<key>to</key>
						<integer>250</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>250</integer>
						<key>to</key>
						<integer>500</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>500</integer>
						<key>to</key>
						<integer>10000</integer>
						<key>value</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>10000</integer>
						<key>to</key>
						<integer>20000</integer>
						<key>value</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>20000</integer>
						<key>to</key>
						<integer>100000</integer>
						<key>value</key>
						<integer>50</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>100000</integer>
						<key>to</key>
						<integer>200000</integer>
						<key>value</key>
						<integer>100</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>200000</integer>
						<key>to</key>
						<integer>500000</integer>
						<key>value</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>500000</integer>
						<key>to</key>
						<integer>1000000</integer>
						<key>value</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>1000000</integer>
						<key>to</key>
						<integer>2000000</integer>
						<key>value</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>2000000</integer>
						<key>to</key>
						<integer>5000000</integer>
						<key>value</key>
						<integer>2000</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>5000000</integer>
						<key>to</key>
						<integer>9995000</integer>
						<key>value</key>
						<integer>5000</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stc</key>
				<integer>3</integer>
				<key>data</key>
				<array>
					<dict>
						<key>from</key>
						<integer>500</integer>
						<key>to</key>
						<integer>9995000</integer>
						<key>value</key>
						<integer>50</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stc</key>
				<integer>4</integer>
				<key>data</key>
				<array>
					<dict>
						<key>from</key>
						<integer>10</integer>
						<key>to</key>
						<integer>250</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>250</integer>
						<key>to</key>
						<integer>500</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>500</integer>
						<key>to</key>
						<integer>10000</integer>
						<key>value</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>10000</integer>
						<key>to</key>
						<integer>20000</integer>
						<key>value</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>20000</integer>
						<key>to</key>
						<integer>100000</integer>
						<key>value</key>
						<integer>50</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>100000</integer>
						<key>to</key>
						<integer>200000</integer>
						<key>value</key>
						<integer>100</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>200000</integer>
						<key>to</key>
						<integer>500000</integer>
						<key>value</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>500000</integer>
						<key>to</key>
						<integer>1000000</integer>
						<key>value</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>1000000</integer>
						<key>to</key>
						<integer>2000000</integer>
						<key>value</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>2000000</integer>
						<key>to</key>
						<integer>5000000</integer>
						<key>value</key>
						<integer>2000</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>5000000</integer>
						<key>to</key>
						<integer>9995000</integer>
						<key>value</key>
						<integer>5000</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stc</key>
				<integer>5</integer>
				<key>data</key>
				<array>
					<dict>
						<key>from</key>
						<integer>10</integer>
						<key>to</key>
						<integer>1000</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>1000</integer>
						<key>to</key>
						<real>5000</real>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>5000</integer>
						<key>to</key>
						<integer>10000</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>10000</integer>
						<key>to</key>
						<integer>20000</integer>
						<key>value</key>
						<integer>10</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>20000</integer>
						<key>to</key>
						<integer>100000</integer>
						<key>value</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>100000</integer>
						<key>to</key>
						<integer>200000</integer>
						<key>value</key>
						<integer>50</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>200000</integer>
						<key>to</key>
						<integer>500000</integer>
						<key>value</key>
						<integer>100</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>500000</integer>
						<key>to</key>
						<integer>1000000</integer>
						<key>value</key>
						<integer>200</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>1000000</integer>
						<key>to</key>
						<integer>2000000</integer>
						<key>value</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>from</key>
						<integer>2000000</integer>
						<key>to</key>
						<integer>9999000</integer>
						<key>value</key>
						<integer>1000</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>priceBase</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
